body {
  background-image: url("mountains-4521455_1920.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  transition: opacity 0.5s ease-in-out;
}
body.fade-out {
  opacity: 0;
}

.logo-image {
  width: 15%;
  height: 200px;
  background-size: contain;
  background-position: center;
  /* border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 3px solid #3d3e3f; */


}
.menu-bar {
  float: right;
  margin-top: -12%;
  margin-right: 4%;

}

.menu-bar a {
  text-decoration: none;
  margin-right: 15px;
  font-size: x-large;
  font-family: "Alumni Sans Pinstripe", serif;
  font-weight: 800;
  font-style: bold;
  color: black;
  position: relative;
  transition: color 0.3s ease;

}

.menu-bar a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: rgb(0, 0, 0);
  transition: width 0.3s ease;
}

.menu-bar a:hover {
  color: gray;
}

.menu-bar a:hover::after {
  width: 100%;
}

.arrow-container {
  margin-top: 10px;
  animation: bounce 1s infinite;
}

.arrow {
  width: 30px;
  height: 30px;
  border: solid 3px black;
  border-width: 3px 3px 0 0;
  transform: rotate(90deg);
  animation: arrowAnimation 1.5s ease-in-out infinite;
  margin-top: 20px;
}

@keyframes arrowAnimation {
  0% {
    transform: translateY(0) rotate(137deg);
  }

  50% {
    transform: translateY(10px) rotate(137deg);
  }

  100% {
    transform: translateY(0) rotate(137deg);
  }
}

.title {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: large;
  font-size: 120px;
  margin: auto;
}

.title2 {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: large;
  font-size: 80px;
  margin-top: -3%;
}

.article-box {
  width: 100%;
  height: 300px;

}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
  background-color: #887d7d;
  margin-top: 10%;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

.gallery-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.gallery-item:hover .overlay {
  opacity: 1;
}

.alt-menu {
  width: 100%;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #7d6d6d;
}

.iconlar {
  width: 100%;
  height: 200px;
  border: 1px solid black;
  text-align: center;
}

.footer {
  position: relative;
  width: 93%;
  background-color: #FFDEE9;
  background-image: linear-gradient(258deg, #5c454c 0%, #3c5656 100%);

  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 50%;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  flex-wrap: wrap;
  margin-right: 5%;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
  margin-right: 1%;
}



@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }

  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }

  100% {
    background-positon-x: 0px;
  }
}

#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}
.form-horizontal {
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control,
textarea {
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

.direct-contact-container {
  max-width: 400px;
}
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27, 27, 27);
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}
.background{
  background-color: #000;
}

hr {
  border-color: rgba(255, 255, 255, .6);
}
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }

  .direct-contact-container,
  .form-horizontal {
    margin: 0 auto;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }

  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }

  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container,
  .form-wrapper {
    float: none;
    margin: 0 auto;
  }

  .form-control,
  textarea {

    margin: 0 auto;
  }


  .name,
  .email,
  textarea {
    width: 280px;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }

  .social-media-list {
    left: 0;
  }

  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }

  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }

}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}

@media (max-width: 768px) {
  html, body {
    overflow-x: hidden;
  }

  body {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    background-image: url("mountains-4521455_1920.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
  }

  .logo-image {
    width: 15%;
    height: 200px;
    margin-right: 20%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .menu-bar a {
    font-size: large;
  }

  .menu-bar {
    margin-top: -35%;
    margin-right: 15%;
  }

  .footer {
    width: 74%;
  }

  .title2,
  .title1 {
    color: black;
  }
  .menu__link{
    font-size: small;
    margin-left: -2px;
  }
  .menu{
    width: 100%;
  }
}